<section>
<div class="contenido-dos-columnas">
    <div class="columna-izquierda">

        <p class="etiqueta-cursiva">finales de los 70 — la llegada de las farc</p>
        <h2 class="titulo-bonanza">TODOS PAGABAN.</h2>

        <p>Las FARC llegaron al Guaviare presentándose como la autoridad que pondría orden. Con la coca encontraron 
            su mina de oro: el "gramaje", un impuesto por cada kilo de pasta base. A veces la misma pasta base se 
            usaba como billete para comprar ropa o mercado. Pero no se quedaron cobrándole solo a los narcos — empezaron
             a cobrarle a todo el mundo.</p>

        <p>Tenderos, transportadores, cualquiera con un negocio pagaba
             <span class="resaltado-dorado">"vacuna"</span>.</p>

             <blockquote class="cita-bonanza">
                "A veces ni el efectivo alcanzaba — todo se pagaba y se cobraba en gramos."
                    <cite class="autor-dorado"></cite>
            </blockquote>

            <!--Aqui va video-->
    </div>

    <div class="columna-derecha">
        <!--Aqui va imagen-->
        <aside class="registro animar">
             <h4>cuentas de la bonanza</h4>
                <table>
                    <tr>
                        <td>1 kg pasta base</td>
                        <td>gramaje farc</td>
                    </tr>
                    <tr>
                        <td>1 pantalón</td>
                        <td>trueque × gramos</td>
                    </tr>
                    <tr>
                        <td>tienda del pueblo</td>
                        <td></td>
                    </tr>
                </table>
                 
            </aside>
    </div>
</div>
</section>

<section class="transicion_dos">
    <h2>Los adultos contaban plata. Un niño contaba<span class="resaltado-dorado">pasos.</span></h2>
</section>