<section>
    <p class="etiqueta-cursiva">2000 - 2003 - cielo envenenado</p>
    
    <div class="contenido-dos-columnas">

         <div class="columna-izquierda">
             <h2 class="titulo-exodo"><span class="resaltado-rojo">El avión no distinguía entre la coca y la comida.</span></h2>
                <p>Con el plan Colombia, el cielo del Guaviare se llenó de avionetas fumigando glifosato. Supuestamente
                    era solo para la coca, pero el veneno quemó los cultivos de pancoger, mató animales de finca y contaminó
                     el agua que tomábamos.</p>
                <p>A la mezcla de veneno y plomo se sumó otra amenaza: mi mamá fue señalada en una lista negra por una
                    acusación falsa y tuvo que huir de un día para otro. Yo tenía cinco años.</p> 

                 <blockquote class="cita-exodo">
                     "Crecí con el vacío de su ausencia."
                         <cite class="autor-verde">El narrador</cite>
                 </blockquote>

                 <!--Aqui va video-->
       </div>   
         
         <div class="columna-derecha">

            <!--Aqui va imagen-->

            <aside class="registro animar">
             <h4>Registro - Plan Colombia</h4>
                <table>
                    <tr>
                        <td>años de fumigación</td>
                        <td>2000-03</td>
                    </tr>
                    <tr>
                        <td>generación desplazada</td>
                        <td>+1</td>
                    </tr>
                    <tr>
                        <td>edad del narrador</td>
                        <td>5 años</td>
                    </tr>
                </table>
                 
            </aside>

            <!--Aqui va video-->
        </div>
    </div>
</section>

<section class="transicion_uno">
    <h2>El río nunca <span class="resaltado-azul">olvida</span> lo que cruza. </h2>
</section>

