<section>
    <p class="etiqueta-cursiva">1998 - el puente y la ceniza</p>
    <h2 class="titulo-flota">LA QUEMARON</h2>
    
    <div class="contenidos-dos-columnas">
        <div class="columna-izquierda">
            <!--Aqui va imagen-->
        </div>
        <div class="columna-derecha">
            <p>Antes de 1998 no existía el Puente Nowen: pasar carros o mercancía sobre el río
                Guaviare significaba filas de días enteros esperando el planchón, viviendo y durmiendo
                en el carro. El puente trajo nuevas oportunidades -- pero para mi tío Jhon llegó demasiado
                tarde. Después de una odisea de años cruzando el río, la guerrilla quemó lo que más le costó
                construir. 
            </p>
            <p>Su flota. el proyecto de todad una vida trasnportando gasolina e insumos, fue
                quemada en una sola noche.
            </p>
            <blockquote class="cita-flota">
                "Vi todo mi esfuerzo convertirse en cenizas"
                    <cite class="autor-naranja"></cite>
            </blockquote>
             
           <!--Aqui va video--> 

            <figure class="rasgado-naranja animar">
                <blockquote>
                    "la factura del último cargamento, la única página que quedo"
                </blockquote>
            </figure>
        </div>
    </div>
</section>
