<section>
    <p class="etiqueta-cursiva">hoy - cuatro décadas después</p>
    <h2 class="titulo-hoy">Las avionetas pasaron. Los muertos pasaron. La hoja se <span class="resaltado-amarillo">quedó.</span></h2>
    <p>Hoy, décadas después de todo esto, mi familia sigue viviendo de la misma hoja que un 
        día nos costó tanto. No hay una respuesta fácil sobre si valió la pena quedarnos - solo 
        la certeza de que esta tierra , para bien y para mal, es lo único que no hemos soltado.</p>

    <blockquote class="cita-hoy">
        "Viendo que la familia sigue dedicando su vida a procesar esta misma planta, ¿Sientes 
        que valió la pena quedarte en el Guaviare?"
        <cite class="autor-dorado">Pregunta sin responder, todavía</cite>
    </blockquote>

    <!--Aqui va video-->

    <blockquote class="cita-narracion">
        esta historia no tiene un final feliz escrito. tiene una familia que sigue ahí.
    </blockquote>
    <p class="cursiva-verde">para entender porqué se quedaron, hay que bajar veinte años en el tiempo... </p>
</section>
